/*
* {
    margin: 0;
    padding: 0;
}
*/

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
}

#header1 {
    color: green;
    font-weight: 100;
    font-style: normal;
}
.other_headings {
    color: blue;
}
b {
    font-size: 1.2em;
}
label b {
    font-size: 10px;
}
h2.other_headings {
    text-decoration: underline;
}
.first_label b {
    color: aqua;
}

.paragraph {
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 30px;
    border: 3px solid #1c6b72;
    padding: 15px;
    text-align: justify;
    background:
        url(https://upload.wikimedia.org/wikipedia/commons/0/0e/Felis_silvestris_silvestris.jpg)
        50% 55%
        no-repeat
        indigo;
    background-size: contain;
    color: #fff;
}
.paragraph:hover {
    background-color: blue;
    background-position: 30% 50%;
}

.centered_block {
    background: #ccc;
    border: 1px solid red;
    width: 50vh;
    margin: 0 auto;
}

input:focus {
    box-shadow: 0 0 50px green;
}

img {
    box-shadow: 0 0 5px blue;
}

audio {
    box-shadow: 0 0 5px brown;
}

#left {
    background: green;
    width: 150px;
    float: left;
}
#right {
    background: grey;
    float: left;
    width: auto;
}

@media (max-width: 400px) {
    #left {
        width: 100px;
    }
}