version: '3'

services:
  app:
    image: django2k:latest
    build:
      dockerfile: deploy/Dockerfile
      context: ..
    ports:
      - 8000:8000
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
    restart: always

  postgres:
    image: postgres:14-alpine
    environment:
      POSTGRES_DB: notes
      POSTGRES_USER: notes
      POSTGRES_PASSWORD: notes
    volumes:
      - "db:/var/lib/postgresql/data"

volumes:
  db: