	{% extends 'web/base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
    <a href="{% url 'main' %}">Главная страница</a>
    <h1>Регистрация</h1>

    {% if form.errors %}
        <b>Пожалуйста, исправьте ошибки:</b>
        {{ form.errors }}
    {% endif %}

    {% if is_success %}
        <p><b>Вы успешно зарегистрированы!</b></p>
    {% else %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Зарегистрироваться</button>
        </form>
    {% endif %}
{% endblock %}
