<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Название на вкладке</title>
    </head>
    <body>
        <h1>Название сайта</h1>
        <h2>Название страницы</h2>
        <h3>...</h3>

        <p><b>Lorem</b> <i>ipsum</i> <s>dolor</s> <u>sit</u> amet, consectetur adipisicing elit. Adipisci, alias asperiores beatae cum deserunt eum
            excepturi harum iusto odit provident quaerat temporibus ullam, vero. At distinctio ducimus magnam sunt
            voluptatum.</p>
        <p>A eligendi enim eos esse incidunt, iure laborum, modi molestiae natus nesciunt obcaecati odio quam quas qui
            quis suscipit tempora, temporibus voluptatum. Accusamus, aut facere harum maiores nisi quae veritatis?</p>
        <p>Ab accusantium assumenda aut cumque deserunt distinctio ducimus earum eum exercitationem explicabo facilis id
            inventore ipsam, <br>
            molestias, non nostrum nulla numquam pariatur quas quisquam ratione recusandae rem rerum
            voluptatem voluptatibus.</p>

        <p>
            <a href="http://ya.ru" target="_blank">Яндекс</a>
        </p>
        <p>
            <b>Продукты</b>
            <ul>
                 <li>молоко</li>
                 <li>хлеб</li>
                 <li>чай</li>
            </ul>
        </p>

        <p>
            <ol>
                <li>раз</li>
                <li>два</li>
                <li>три</li>
            </ol>
        </p>
        <table border="1">
            <thead>
                <tr>
                    <th colspan="3">Пользователи</th>
                </tr>
                <tr>
                    <th>Имя</th>
                    <th>Почта</th>
                    <th>Пол</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Вася</td>
                    <td>vasya@yandex.ru</td>
                    <td>М</td>
                </tr>
                <tr>
                    <td>Петя</td>
                    <td>petya@yandex.ru</td>
                    <td>М</td>
                </tr>
                <tr>
                    <td>Юля</td>
                    <td>ulia@yandex.ru</td>
                    <td>Ж</td>
                </tr>
            </tbody>
        </table>

        <img
            width="300"
            src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Felis_silvestris_silvestris.jpg"
            alt=""
        >
        <audio src="s.mp3" controls></audio>

        <form action="">
            <label>
                <b>текст</b> <br>
                <input type="text" placeholder="текст"> <br>
            </label>
            <label for="password_input">
                <b>пароль</b>
            </label><br>
            <input type="password" id="password_input" placeholder="пароль"> <br>
            <label>
                <b>число</b> <br>
                <input type="number" placeholder="число"> <br>
            </label>
            <label>
                <b>дата</b> <br>
                <input type="date"> <br>
            </label>
            <label>
                <b>color</b> <br>
                <input type="color"> <br>
            </label>
            <b>radio</b> <br>
            <label><input type="radio" name="radio" value="1"> 1 </label><br>
            <label><input type="radio" name="radio" value="2"> 2 </label><br>
            <b>checkbox</b> <br>
            <label><input type="checkbox" name="checkbox" value="3"> 3 вариант</label><br>
            <label><input type="checkbox" name="checkbox" value="4"> 4 вариант </label><br>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <select name="category" id="">
                <option value="">Выбрать категорию</option>
                <option value="1">Машины</option>
                <option value="2">Компьютеры</option>
            </select>
            <input type="file">
            <br>
            <button type="submit">Отправить</button>
            <button type="button">Кнопка</button>
            <button type="reset">Сбросить</button>
        </form>

        <br><br><br><br><br><br><br><br><br><br>
    </body>
</html>