<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход</title>
</head>
<body>
<a href="{% url 'main' %}">Главная страница</a>

<h1>Вход</h1>

{% if message %}
    <b>{{ message }}</b>
{% endif %}

{% if form.errors %}
    <b>Пожалуйста, исправьте ошибки:</b>
    {{ form.errors }}
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Войти</button>
</form>
</body>
</html>