<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заметки</title>
</head>
<body>
  <h1>Заметки</h1>
  <hr>
  <h2>Список заметок</h2>
    <p>
        Количество заметок: {{ count }}
    </p>

    <ul>
        {% for note in notes %}
            <li>
                <b>{{ note.title }}</b> <small>#{{ note.id }}</small>
                {% if note.alert_send_at %}
                    – напомнить в {{ note.alert_send_at|date:"d.m.Y H:i" }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

</body>
</html>