<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Удаление заметки</title>
</head>
<body>
    <h1>Вы действительно хотите удалить заметку?</h1>
    <form action="" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button>Удалить заметку</button>
    </form>
    <a href="{% url 'main' %}">Вернуться на главную страницу</a>
</body>
</html>