<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добавление заметки</title>
</head>
<body>

<a href="{% url 'notes_list' %}">Главная страница</a>
{% if id %}
    <a href="{% url 'note' id %}">Перейти к заметке</a>
{% endif %}
<h1>Добавление заметки</h1>

{% if error %}
    <b>Ошибка: {{ error }}</b>
{% endif %}

<form action="" method="post">
    {% csrf_token %}

    <label>
        Название <br>
        <input
                type="text"
                id="title"
                name="title"
                placeholder="Введите название"
                value="{{ title|default_if_none:'' }}"
        >
    </label>
    <br><br>

    <label>
        Текст <br>
        <textarea name="text">{{ text|default_if_none:'' }}</textarea>
    </label>
    <br><br>

    <button>Добавить заметку</button>
</form>

</body>
</html>