{% extends 'web/base.html' %}
{% block title %}Заметка {{ object.title }}{% endblock %}
{% block content %}
    <a href="{% url 'notes_list' %}">Назад</a>
    <a href="{% url 'note_edit' object.title object.id %}">Редактировать заметку</a>
    <a href="{% url 'note_delete' object.title object.id %}">Удалить заметку</a>
    <h1>{{ object.title }}</h1>

    <p>{{ object.text }}</p>

    <p>
        <small>
            Создана {{ object.created_at|date:'d.m.Y H:i' }}.
            Обновлена {{ object.updated_at|date:'d.m.Y H:i' }}.
        </small>
    </p>
{% endblock %}