<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Заметка {{ note.title }}</title>
</head>
<body>
    <a href="{% url 'notes_list' %}">Назад</a>
    <a href="{% url 'note_edit' note.id %}">Редактировать заметку</a>
    <h1>{{ note.title }}</h1>

    <p>{{ note.text }}</p>

    <p>
        <small>
            Создана {{ note.created_at|date:'d.m.Y H:i' }}.
            Обновлена {{ note.updated_at|date:'d.m.Y H:i' }}.
        </small>
    </p>
</body>
</html>