{% extends 'web/base.html' %}
{% block title %}Добавление заметки{% endblock %}
{% block content %}
    <a href="{% url 'notes_list' %}">Главная страница</a>
    {% if id %}
        <a href="{% url 'note' title id %}">Перейти к заметке</a>
    {% endif %}
    {% if id %}
    <h1>Редактирование заметки</h1>
    {% else %}
    <h1>Добавление заметки</h1>
    {% endif %}
    {% if form.errors %}
        <b>Возникли ошибки при заполнении формы. Пожалуйста, исправьте их:</b>
        {{ form.errors }}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Добавить заметку</button>
    </form>
{% endblock %}